<h3>Import data</h3>
<div class="Block">
    <p>{{message}}</p>
  <label id="lbl">CSV-File to import </label>
  <input type='file' (change)="fileChanged($event)">
  <table>
    <tr>
        <th *ngFor="let entry of mapping | keyvalue">{{entry.key}}</th>
    </tr>
    <tr>
        <th *ngFor="let entry of mapping | keyvalue"><app-csv-destination-selector [selected]="entry.value" [availableFields]="availableFields"></app-csv-destination-selector></th>
    </tr>
    <tr *ngFor="let account of accounts">
        <td *ngFor="let header of headers">{{account[header]}}</td>
    </tr>
  </table>
</div>
