<h3>Import data</h3>
<div class="Block">
    <p>{{message}}</p>
  <label id="lbl">CSV-File to import </label>
  <input type='file' (change)="fileChanged($event)">
  <table>
    <tr>
    <ng-container *ngFor="let entry of mapping | keyvalue">
        <th>{{entry.key}}</th>
    </ng-container>
    </tr>
    <tr>
    <ng-container *ngFor="let entry of mapping | keyvalue">
        <th><app-csv-destination-selector [selected]="entry.value" [availableFields]="availableFields"></app-csv-destination-selector></th>
    </ng-container>
    </tr>
    <ng-container *ngFor="let account of accounts">
    <tr>
      <ng-container *ngFor="let header of headers">
        <td>{{account[header]}}</td>
      </ng-container>
    </tr>
    </ng-container>
  </table>
</div>
