<form *ngIf="logonNecessary" [formGroup]="loginForm" novalidate (ngSubmit)="doCredentialLogon()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" formControlName="username" autocomplete="username"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" autocomplete="current-password"/>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="storeLogin"></mat-checkbox>
          <mat-label>Store credentials?</mat-label>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <span>{{message}}</span>
      <button color="secondary" (click)="doStoredLogon()" *ngIf="storedLoginAvailable">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
