table {
  width: 100%;
}
tr.expanded-account-row {
  height: 0;
}

tr.accountRow:not(.expandedAccount):hover {
  background: #f5f5f5;
}

tr.accountRow:not(.expandedAccount):active {
  background: #efefef;
}

.accountRow td {
  border-bottom-width: 0;
}

.accountDisplay {
  overflow: hidden;
  display: flex;
}
