<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidenav-unauthenticated *ngIf="!authenticated"></app-sidenav-unauthenticated>
    <app-sidenav-authenticated *ngIf="authenticated"></app-sidenav-authenticated>
  </mat-sidenav>
  <mat-sidenav-content style="max-width: 80%; margin: 0 auto;">
    <div style="text-align:center">
      <h1>
        {{ title }}!
      </h1>
    </div>
    <app-unauthenticated *ngIf="!authenticated"></app-unauthenticated>
    <app-authenticated *ngIf="authenticated"></app-authenticated>
    <!-- <ng-template #waitForLogin><app-login></app-login></ng-template>-->
    <ng-template #waitForLogin></ng-template>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
