<form [formGroup]="userPasswordForm" novalidate (ngSubmit)="changePassword()">
  <h1 mat-dialog-title>Change your password</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Current Password</mat-label>
          <input matInput [type]="hideOriginal ? 'password' : 'text'" placeholder="Current Password" formControlName="currentPassword" autocomplete="current-password"/>
          <mat-icon matSuffix (click)="this.hideOriginal = !this.hideOriginal">{{hideOriginal ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="hasError('currentPassword', 'required')">Current password is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword1" autocomplete="new-password"/>
          <mat-icon matSuffix (click)="this.hide = !this.hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="hasError('newPassword1', 'minlength')">Password must be at least 8 characters long.</mat-error>
          <mat-error *ngIf="hasError('newPassword1', 'required')">Password is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>New Password (repeated)</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password (repeated)" formControlName="newPassword2" [errorStateMatcher]="formErrorMatcher" autocomplete="new-password"/>
          <mat-icon matSuffix (click)="this.hide = !this.hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="formHasError('notSame')">Password confirmation must match password.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <p>{{ message }}</p>
    <button mat-raised-button color="primary" type="submit">ChangePassword</button>
    <button mat-raised-button color="secondary" (click)="abort()">Abort</button>
  </div>
</form>
