<h1 mat-dialog-title>Change your password>
<div mat-dialog-content>
<input type="password" [(ngModel)]="currentPassword" name="currentPassword"/><br/>
<input type="password" [(ngModel)]="newPassword1" name="newPassword1"/><br/>
<input type="password" [(ngModel)]="newPassword2" name="newPassword2"/><br/>
</div>
<div mat-dialog-actions>
  <p>{{ message }}</p>
  <button mat-raised-button color="primary" (click)="changePassword()">ChangePassword</button>
  <button mat-raised-button color="secondary" (click)="abort()">Abort</button>
</div>
